*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html

media/

[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
