<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SomethingJustHappened.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SomethingJustHappened.Properties.Settings>
            <setting name="DefaultClipLength" serializeAs="String">
                <value>00:00:30</value>
            </setting>
            <setting name="DefaultAudioDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultVideoDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataFolder" serializeAs="String">
                <value>SomethingJustHappened</value>
            </setting>
        </SomethingJustHappened.Properties.Settings>
    </userSettings>
</configuration>